@font-face {
    font-family: 'Lato2';
    src: url('./lato/fonts/LatoLatin-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato2';
    src: url('./lato/fonts/LatoLatin-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato2';
    src: url('./lato/fonts/LatoLatin-Semibold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato2';
    src: url('./lato/fonts/LatoLatin-SemiboldItalic.woff') format('woff');
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}
