$btn-bg: $white;
$btn-border-color: $gray-300;
$btn-text: $gray-800;

$btn-hover-bg: $gray-800;
$btn-hover-border-color: $gray-800;
$btn-hover-text: $white;

$btn-big-breakpoint: 'lg';

.btn {
  background-color: $btn-bg;
  border: 1px solid $btn-border-color;
  color: $btn-text;

  text-decoration: none;
  border-radius: .5rem;
  padding: .5rem .75rem;

  font-weight: 600;
  font-size: .875rem;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: $btn-hover-bg;
    border: 1px solid $btn-hover-border-color;
    color: $btn-hover-text;
  }

  @include media-breakpoint-up($btn-big-breakpoint) {
    padding: .75rem .875rem;
  }
}
