.social-links {
  margin: 0;
  padding: 0;

  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;

  li {
    padding: .5rem;

    a {
      &:hover {
        color: $link-color;
      }
    }

    svg {
      width: 1em;
      height: 1em;
    }
  }
}
