{{ define "main" }}

<article>
    <div class="fixed h-1 w-0 left-0 top-0 z-50 bg-lead-base" data-post-progress></div>

    {{ .Scratch.Delete "post-list" }}
    {{ partial "post-header.html" . }}

    <div class="mt-4 markup">
        {{ .Content }}
    </div>

    {{ if eq .Type "posts" }}
        <section class="my-3">
            <div class="mb-2">
                Tagi: {{- partial "post-tags.html" . -}}
            </div>
            <div>
                Kategorie: {{- partial "post-categories.html" . -}}
            </div>
        </section>

        {{ if .Site.DisqusShortname }}
        <section id="comments" class="my-3">
            <hr class="my-5">

            {{ partial "disqus.html" . }}
        </section>
        {{ end }}
    {{ end }}
</article>
{{ end }}
