{{ $pag := $.Paginator }}

{{ if gt $pag.TotalPages 1 -}}
<nav class="pagination">
    <ul>
        {{ if $pag.HasPrev }}
        <li>
            <a href="{{ $pag.Prev.URL }}" class="btn">
                <span aria-hidden="true">&larr;</span> Poprzednia strona
            </a>
        </li>
        {{ end }}

        {{ if $pag.HasNext }}
        <li class="me-0 ms-auto">
            <a href="{{ $pag.Next.URL }}" class="btn">
                Następna strona <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}
