{{ $pag := $.Paginator }}

{{ if gt $pag.TotalPages 1 -}}
<nav class="my-4">
    <ul class="d-flex justify-center list-unstyled">
        {{ if $pag.HasPrev }}
        <li class="ms-0 me-auto">
            <a href="{{ $pag.Prev.URL }}">
                <span aria-hidden="true">&larr;</span> Poprzednia strona
            </a>
        </li>
        {{ end }}

        {{ if $pag.HasNext }}
        <li class="me-0 ms-auto">
            <a href="{{ $pag.Next.URL }}">
                Następna strona <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}
