{{ $pag := $.Paginator }}

{{ if gt $pag.TotalPages 1 -}}
<nav class="my-8">
    <ul class="pagination flex justify-center">
        {{ if $pag.HasPrev }}
        <li class="ml-0 mr-auto">
            <a href="{{ $pag.Prev.URL }}" class="text-link hover:underline">
                <span aria-hidden="true">&larr;</span> Poprzednia strona
            </a>
        </li>
        {{ end }}

        {{ if $pag.HasNext }}
        <li class="mr-0 ml-auto">
            <a href="{{ $pag.Next.URL }}" class="text-link hover:underline">
                Następna strona <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}
