<footer class="bg-footer text-white pb-3 pt-5">
    <div class="container">
        <section class="text-center">
            <img class="mb-3 img-fluid d-block mx-auto rounded" src="{{ ((resources.Get "/images/me-zoomed.jpg").Resize
            "200x q100").RelPermalink }}" alt="">

            <p>
                To ja. Dev. A tu więcej <a class="text-reset" href="{{ (.GetPage "o-mnie").RelPermalink }}">o
                mnie</a>.
            </p>

            <div class="fs-3 mt-5">
                {{ partial "social-icons.html" . }}
            </div>
        </section>

        <div class="text-center small mt-5">
            <p class="mb-0">
                Copyright &copy;
                <a class="text-reset" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
            </p>
        </div>
    </div>
</footer>
