{{ with .Params.tags }}
<ul class="flex flex-wrap list-none">
    {{ range . }}
        {{ $term := . }}
        {{ with $.Site.GetPage (printf "/%s/%s" "tags" ($term | urlize)) }}
            <li class="last:mr-0 mr-1 mb-1">
                <a href="{{ .RelPermalink }}" class="text-sm block py-1 px-2 text-white bg-gray-500 hover:bg-opacity-100 hover:bg-lead-base hover:no-underline rounded">
                    {{ .Title }}
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}
