{{ define "main" }}
    <div class="article">
        <div class="container">
            <div class="markup-container">
                <div class="markup">
                    <img src="{{ "/images/404.gif" | relURL }}" alt="Nie znaleziono strony">
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <section class="article-list article-list-padded">
        <h2 class="article-list-title">Zobacz ostatnie wpisy</h2>
        {{ $pages := where $.Site.RegularPages "Type" "posts" }}
        {{ $paginator := .Paginate $pages }}

        {{ partial "article-list.html" (first 3 $paginator.Pages) }}
    </section>
</div>

{{ end }}
