@import "~bootstrap/scss/functions";

@import "variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/mixins";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
//@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
//@import "~bootstrap/scss/forms";
//@import "~bootstrap/scss/buttons";
//@import "~bootstrap/scss/transitions";
//@import "~bootstrap/scss/dropdown";
//@import "~bootstrap/scss/button-group";
//@import "~bootstrap/scss/nav";
//@import "~bootstrap/scss/navbar";
//@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/accordion";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
//@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/toasts";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
//@import "~bootstrap/scss/spinners";
//@import "~bootstrap/scss/offcanvas";
//@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
// scss-docs-end import-stack

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-display: swap;
    font-weight: 200 1000;
    src: url('../../node_modules/@fontsource/mulish/files/mulish-latin-variable-wghtOnly-normal.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* mulish-latin-ext-variable-wghtOnly-normal */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-display: swap;
    font-weight: 200 1000;
    src: url('../../node_modules/@fontsource/mulish/files/mulish-latin-ext-variable-wghtOnly-normal.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

a {
    transition: all .2s ease-out;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@import "scss/article-card";
@import "scss/button";
@import "scss/pagination";
@import "scss/header";
@import "scss/main";
@import "scss/footer";
@import "scss/social-links";
@import "scss/hero";
@import "scss/article-date";
@import "scss/post-progress";
@import "scss/markup";
@import "scss/term";
@import "scss/article";
