@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #333;
}

a, button, input[type="submit"] {
    @apply transition-all;
}

.content-container {
    max-width: theme('screens.md');
    margin: 0 auto;
}

.markup-links {
    :not(.no-markup) > a:not(.permalink) {
        color: theme('colors.link');
        text-decoration: underline;
    }
}

.markup {
    @apply markup-links;

    @screen md {
        font-size: 1.125rem;
    }

    @screen lg {
        font-size: 1.25rem;
    }

    line-height: 1.7;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 1.5em 0 .9em 0;
        font-weight: bold;
    }

    h1,
    h2,
    h3 {
        line-height: 1.1;
    }

    h1 {
        font-size: 2.2em;
        margin-top: 0;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.5em;
    }

    > :not(.no-markup):not(:last-child):not(h1):not(h2):not(h3) {
        &, > p {
            margin: 1.2em 0;
        }
    }

    > :not(pre) {
        overflow-wrap: break-word
    }

    ol,
    ul {
        list-style-position: inside;
        list-style-type: none;

        li {
            margin: .5em 0;
            padding-left: 1.5em;
            position: relative;
            counter-increment: list-counter;

            &:before {
                position: absolute;
                left: 0;
                opacity: .5;
            }
        }
    }

    ol {
        li {
            &:before {
                content: counter(list-counter) "."
            }
        }
    }

    ul {
        li {
            &:before {
                content: '•';
            }
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    figure {
        > img {
            margin: 0 auto;
        }

        > figcaption {
            font-size: .8em;
            margin-top: .2em;
        }
    }

    blockquote {
        padding-left: 1em;
        font-weight: 500;
        font-style: italic;
        border-left-width: .25rem;
        border-left-color: theme('colors.gray.300');
    }

    :not(pre)>code {
        font-size: .875em;
        font-weight: 600;

        &:before,
        &:after {
            content: '`';
        }
    }

    pre {
        padding: .8em 1.1em;
        border-radius: .375rem;
        line-height: 1.5;
        font-size: .8em;
        overflow: auto;
    }

    .permalink {
        display: inline-block;
        margin-left: .2rem;
        opacity: .5;
    }
}

footer {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
