$utilities: (
    "static-width": (
        property: width,
        class: sw,
        values: $spacers,
    ),
    "static-height": (
        property: height,
        class: sh,
        values: $spacers,
    ),
    "relative-width": (
        property: width,
        class: rw,
        values: (
            1: 1em
        ),
    ),
    "relative-height": (
        property: height,
        class: rh,
        values: (
            1: 1em
        ),
    ),
);
